

// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;


// fonts 
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// colors
$dark: #242B33;
$dark-2: #393945;
$accent: #7955ff;
$accent-opacity: rgba(121,85,255,0.51);
$white: #fff;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

// media
$tablet: 1040px;
$phone: 550px;