@import './reset';
@import './mixins';
@import './vars';
@import './base';

.App {
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    margin: 15px;
    gap: 30px;
}

//body {
//    overflow-y: hidden;
//}

canvas {
    background-color: black;
    border-radius: 15px;
}
.mainSettings__wrapper {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    //background-color: $dark-2;
    border: 2px solid $accent;
    box-shadow: 0px 0px 20px -3px $accent;
    border-radius: 15px;
}
.mainSettings__main-btn {
    @extend %main-btn;
}



.slider-wrapper {
    border: 3px solid $accent;
    border-radius: 15px;
    padding: 10px;
    background-color: $dark;
}
.horizontal-slider {
    //width: 100%;
    height: 30px;
    //border-radius: 5px;
    //background-color: black;
    //border: 1px solid $accent;
    padding-top: 10px;
}
.slider-mark {
    cursor: pointer;
    top: 6px;
    width: 1.5px;
    height: 8px;
    background-color: $dark;
}
.slider-track {
    border-radius: 10px;
    background-color: black;
    top: 17px;
    height: 5px;
}
.slider-track-0 {
    background-color: $accent;
}
.slider-thumb {
    cursor: pointer;
    background-color: $accent;
    //padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* remove default outline when selected */
    outline: none;
    transition: box-shadow 0.2s ease;
    &:active {
        box-shadow: 0 0 0 5px $accent-opacity;
    }
}


.particle-settings__wrapper {
    border-radius: 15px;
    min-width: 250px;
    min-height: 80vh;
    border: 2px solid $accent;
    box-shadow: 0px 0px 20px -3px $accent;
}
.particle-settings__wrapper2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}


.particle__main-settings-wrapper {
    margin-top: 5px;
}
.particle__wrapper {
    //border: 3px solid $accent;
    border-radius: 15px;
    padding: 10px 10px 0px 10px;
    background-color: $dark-2;
    z-index: 1;
    @extend %box-shadow-1;
}
.particle__color-icon {
    height: 50px;
    width: 75px;
    border-radius: 15px;
    border: 3px solid $accent;
    cursor: pointer;
    z-index: 1;
}
.particle__color-icon-small {
    height: 12px;
    width: 12px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}
.particle__color-random-block {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}
.particle__settings-btn {
    @extend %main-btn;
    font-size: 16px;
    padding: 14px;
    width: 100%;
    margin-left: 5px;
}

.accordion {
    height: 0px;
    opacity: 0;
    z-index: -10;
    transition: opacity 0.2s ease-in-out, height 0.2s 0.2s ease-in-out, visibility 0.2s 0.2s ease-in-out;
    visibility: hidden;
}

.accordion__settings {
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    &:hover {
        color: $accent;
    }
}
.accordion__child {
    padding: 10px 0;
    border-top: 1px solid $accent;
}
.accordion__open {
    opacity: 1;
    display: block;
    transition: height 0.2s ease-in-out, opacity 0.2s 0.2s ease-in-out;
    visibility: visible;
}
.accordion__arrow{
    margin-right: 5px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}
.accordion__arrow-active{
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.modal__background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__block {
    min-width: 250px;
    //background-color: #85909f;
    text-align: center;
}
.color-picker__btn {
    @extend %main-btn;
}